<div class="container">
    <h3 class="title">DETALLE DEL PEDIDO</h3>
    <p class="subtitle"> Tu pedido: </p>
    <p> {{this.descripcion}}</p>    
    
    <p><label id="one-2">Imagen de descripción: </label></p>
    <p> {{imagen}}</p>
    
    <p class="subtitle"> Lo pediste para: </p>
    <p>{{tiempoRecepcion}}</p>
    
    <p class="subtitle">Te lo entregamos en: </p>
    <p> {{domicilioEntrega}}</p>

    <p class="subtitle">Lo buscamos en : </p>
    <p> {{domicilioBusqueda}}</p>

    <p class="subtitle"> Vas a pagar con:  </p>
    <p>{{formaPago}}</p>

    <p class="subtitle center">¿DESEA CONFIRMAR EL PEDIDO?</p>
    
    <button class="col-sm-6 btn btn-lg btn-danger" > Cancelar </button>
    <button class="col-sm-6 btn btn-lg btn-success"> Confirmar </button>
</div>